{{ define "body-class" }}home-news-page{{ end }}

{{ define "main" }}
    {{ $pages := where .RegularPages "Params.hidden" "!=" true }}
    {{ $sorted := $pages.ByDate.Reverse }}
    {{ $pag := .Paginate $sorted }}

    <section class="article-list">
        {{ range $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
